.header {
  width: 880px;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

@media screen and (max-width: 670px) {
  .header {
    padding: 28px 0 41px 20px;
  }

  .header__logo {
    height: 24px;
    width: 126px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    padding: 28px 167px 32px 27px;
    border-bottom: 1px solid rgb(84 84 84 / 0.7);
  }

  .header__logo {
    height: 33px;
    width: 173px;
  }
}
