.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 19px 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 0 36px 0 36px;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 430px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
}

.modal__close {
  background-image: url("../images/Close_Icon.svg");
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -47px;
  right: -47px;
  cursor: pointer;
}

.modal__heading {
  width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin: 34px 0 54px 0;
  font-family: "Inter", Arial, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.modal__fieldset {
  border: none;
  padding: 0;
  width: 100%;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
  margin-bottom: 30px;
  font-family: "Inter", Arial, sans-serif;
  padding-bottom: 13.26px;
}

.modal__input-description {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  padding-bottom: 13.26px;
}

.modal__button {
  background-color: #000000;
  color: #ffffff;
  margin: 48px 0 36.51px 0;
  height: 50.15px;
  width: 358px;
  font-family: "Inter", Arial, sans-serif;
  padding: 0;
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 320px) {
  .modal {
    padding: 0;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0;
  }

  .modal__heading {
    width: 238px;
    margin: 25px 22px 75px 22px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__input {
    width: 238px;
    margin: 0 22px 30px 22px;
  }

  .modal__input-description {
    width: 238px;
    margin: 0 22px 45px 22px;
    padding: 0;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin: 0 22px 25px 22px;
  }
}
